# Python
__pycache__/
*.pyc

# Entornos
env/
.venv/
venv/

# IDE
.idea/
.vscode/

# MacOS
.DS_Store

# Variables sensibles
.env

# Wallet de Oracle (por seguridad)
wallet/
*.zip
tnsnames.ora
sqlnet.ora
